body {
  background: #222;
  overscroll-behavior: none;
  color: #ccc;
  font-family: Roboto Mono, monospace;
}

details nav {
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
}

a:hover {
  color: #fff;
}
